.game-nav{
    top : 10px;
    width : 100%;
    position : absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font1);
    padding : 2rem 4rem 2rem 4rem;
}

.game-objects{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap : 1rem;
}

.game-objects li{
    font-size: 2rem;
    border-radius: 1rem;
    background-color: var(--hover-gray);
    padding : 1rem;
    transition: all 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 1rem;
}

.game-objects li:hover{
    cursor: pointer;
    transform: translateY(-10px);
}

.object-found {
    text-decoration: line-through;
}

.exit-btn{
    font-size: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color: white;
    transition: all 0.3s;
}

.exit-btn:hover{
    cursor: pointer;
    background-color: var(--hover-gray);
    transform: translateY(-5px);
}


.obj-avatar{
    height : 4rem;
    border-radius: 100%;
}