.game-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-img-cont{
    position: relative;
}

.game-img-cont img{
    display: block;
    max-width: calc(100vw * (85/100));
    max-height: calc(100vh * (85/100));
    width: auto;
    height: auto;
    border-radius: calc(100vw * (1 / 100));
}

.dropdown{
    position: absolute;
    font-family: var(--font1);
    font-size: 2rem;
}

.dropdown ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding : 0.5rem;
    background-color: white;
    border-radius: 1rem;
}


.dropdown li{
    user-select: none;
    list-style: none;
    transition: all 0.3s;
    text-align: center;
    padding : 1rem;
    border-radius: 1rem;
}

.dropdown li:hover{
    cursor: pointer;
    background-color: var(--hover-gray);
}

.hide{
    display : none;
}

.show{
    display: block;
}