.login-cont{
    height : 100vh;
    width : 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 4rem;
    color : black;
}

.login-title{
    font-family: var(--font1);
    font-size: 9rem;
    user-select: none;
}

.login-btn{
    font-family: var(--font1);
    font-size: 2rem;
    border : none;
    padding: 1rem;
    border-radius: 5rem;
    background-color: white;
    transition: all 0.3s;
}

.login-btn:hover{
    cursor: pointer;
    background-color: var(--hover-gray);
    transform: translateY(-5px);
}


